body {
    margin: 0;
    padding: 0;
    background-image: url("../image.png"); /* imagem do fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.botao-voltar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.botao-voltar:hover {
    background-color: yellow;
    color: black;
}
