body {
    margin: 0;
    padding: 0;
    background-image: url("../image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px black;
    width: 350px;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: black;
    color: yellow;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
    color: black;
}

label {
    font-weight: bold;
}

.erro {
    color: red;
    margin-bottom: 15px;
}
